@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Pacifico&display=swap');
.header {
    background: linear-gradient(45deg, #8d45a5, #af53ca, #b047aa, #934392);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 5px 7px 3px rgb(181, 149, 218);
    height: 7em;
    width: 100%;
  }

.menu {
    margin-right: 2em;
}
.menu, .headmenu{
    display: inline;
    margin: 30px;
  }  

.menua {
    font-family: 'Pacifico', cursive;
    text-decoration:none;
    font-size: 1.8em;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.2mm #000000;
    letter-spacing: 0.36mm;
}
a:hover{
    color: rgba(158, 247, 192, 0.876);
}

.logo {
    padding-left: 2%;
    width: 5.7em;
    height: 4em;
    transition: 0.5s;
    transition-timing-function: linear;
}
.logo:hover{
    width: 6.7em;
    height: 5em;
}
.mytitle{
    color: white;
    padding-left: 2%;
    font-size: 2.2em;
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke: 0.2mm #000000;
    letter-spacing: 4mm;
    font-weight:normal;
}
h1{
    color: white;
    padding-left: 2%;
    font-size: 2em;
    font-family: 'Corinthia', cursive;
    -webkit-text-stroke: 0.2mm #000000;
    letter-spacing: 2mm;
    font-size: 30px;
}

body {
    background: #f0e8ff;
    color: rgb(0, 0, 0);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    padding: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4em;
    margin: 0 auto;
    align-self: center;
}
.content-container-2{
    padding: 40px;
    display: flex;
    justify-content: start;
     align-items: center;
     flex-wrap: wrap;
     gap: 2.5em;
}
.content-container-3{
    padding: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5em;
    margin: 0 auto;
    align-self: center;
}
.text-container {
    color: white;
    font-size: 1.3em;
    font-family: 'Pacifico';
    -webkit-text-stroke: 0.2mm #000000;
    letter-spacing: 0.4mm;
    padding-left: 2em;
    width: 50%;
    background: linear-gradient(45deg, #8d45a5, #af53ca, #b047aa, #934392);
}
.text-container-2 {
    color: white;
    font-size: 1.3em;
    font-family: 'Pacifico';
    -webkit-text-stroke: 0.2mm #000000;
    letter-spacing: 0.4mm;
    padding-left: 2em;
    width: 50%;
    background: linear-gradient(45deg, #8d45a5, #af53ca, #b047aa, #934392);
  }
.text{
    width: 45%;
    color: white;
    font-size: 1.3em;
    font-family: 'Pacifico';
    -webkit-text-stroke: 0.2mm #000000;
    letter-spacing: 0.4mm;
    padding-left: 2em;
    background: linear-gradient(45deg, #8d45a5, #af53ca, #b047aa, #934392);
}
footer {
    background-color: rgb(181, 149, 218);
    height: 4em;
    text-align: center;
    padding-top: 1.5em;
    margin-top: auto; 
}
.sidebar {
    display: block;
    display: inline;
    padding-top: 3mm;
    height: 25em;
    width: 13em;
    position: fixed;
    top: 10em;
    right: 0;
    background: linear-gradient(45deg, #8d45a5, #af53ca, #b047aa, #934392);
    }

    * {box-sizing: border-box;}
form {
  position: relative;
  width: 200px;
  margin: 0 auto;
  background: #ffecfdf6;
}
input, button {
  border: none;
  outline: none;
  background: transparent;
}
input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
}
button {
    padding-top: 1mm;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.menua2{
    font-family: 'Pacifico', cursive;
    text-decoration:none;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.2mm #000000;
    letter-spacing: 0.36mm;
}
.headmenu2{
    list-style-type: none;
}
#hide{
    padding-top: 8.5em;
    padding-right: 6em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    #poisk{
        width: 0.1em;
        height: 0.1em;
        margin-right: 0.7cm;
        margin-top: -0.4cm;
    }
    .header{
        justify-content: center; 
        width: 180vh;
        height: 17vh;
    }
    .mytitle{
        font-size: 10mm;
    }
    .menu{
        margin: 0;
        font-size: 3.7mm;
    }
    .content-container, .content-container-2, .content-container-3{
        flex-direction: column;
    }
    .text-container{
        width: 130vh;
        padding-left: 1cm;
        margin-left: 12em;
        font-size: 10mm;
    }
    video{
        margin-left: 43em;
        width: 1000px;
        height: 1000px;
    }
    .content-container {
        height: 190vh;
    }
    .slider{
        width: 130vh;
        padding-left: 3.5cm;
    }
    .slider-dots {
        padding-left: 4cm;
    }
    .text{
        font-size: 10mm;
        width: 110vh;
        height: 60vh;
        margin-left: 4.3em;
    }
    .sidebar{
        margin-right: 1em;
    }
    #adapt{
        width: 800px;
        height: 800px;
        margin-left: 19cm;
    }
    .text-container-2{
        width: 100vh;
        font-size: 10mm;
        margin-left: 17em;
    }
    footer{
        width: 160vh;
    }
} 
@media screen and (max-width : 500px) {
     .menu{
        display: none;
    }
    #poisk{
        width: 0.1em;
        height: 0.1em;
        margin-right: 0.7cm;
        margin-top: -0.4cm;
    }
    .header{
        width: 140vh; 
    }
    .mytitle{
        font-size: 12mm;
        margin-right: 2.5em;
    }
    .content-container, .content-container-2, .content-container-3{
        flex-direction: column;
        justify-content: center;
    }
    .text-container{
        width: 89vh;
        margin-left: 10cm;
        padding-left: 1em;
        height: 95vh;
        font-size: 7mm;
    }
    video{
        margin-left: 15cm;
        width: 700px;
        height: 600px;
    }
    .slider{
        width: 100vh;
        margin-left: 10em;
    }
    .content-container-2{
        margin-left: 7em;
    }
    .slider-dots {
        padding-right: 2.3cm;
    }
    .text{
        width: 75vh;
        margin-right: 2cm;
    }
    #adapt{
        width: 500px;
        height: 500px;
        margin-left: 17cm;
    }
    .text-container-2{
        width: 75vh;
        margin-left: 15cm;
    }
}